/* Navbar.css */

.navbar {
  

    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    font-size: 1.5rem;
    font-size: 4rem;
    color: rgb(130, 237, 237);
}


.menu {
    display: flex;
    gap: 1rem;
   
}

.menu a {
    color: white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 1rem;
}

.contact-button {
    cursor: pointer;
    background: #fff;
    color: #000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; 
    border-radius: 2rem;
    
}

.contact-button:hover {
    background-color: #a5c1e0; 
}
.desktopMeunImg{
    color: rgb(95, 189, 221);
    margin: 0.5rem;
    font-size: 1.4rem;
} 
#active{ 
    color: rgb(130, 237, 237);
    padding-bottom: 0.5rem; 
    border-bottom: 3px solid rgb(130, 237, 237); 

}

 

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your navbar height */
        right: 0;
        background-color: #333;
        width: 100%;
        padding: 1rem 0;
    }

    .menu.active {
        display: flex; /* Show menu when active */
    }

    .hamburger {
        display: block; /* Show hamburger icon on mobile */
    }
}
