@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;

    font-family: "Mooli", sans-serif;
   
}
body{
    background: rgb(30, 30, 30);
    color: white;
    /* overflow-y: scroll; */
    /* overflow: hidden; */
}